.achievements-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.achievements-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.achievement {
    border-radius: 999px;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grayscale {
    filter: grayscale();
}

.achievement-infos {
    display: flex;
    flex-flow: column nowrap;
    width: 180px;
    align-items: center;
}

.achievement-infos .description {
    text-align: center;
}

.achievement-infos strong {
    text-align: center;
}

